<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light">
            Smart Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/home.png"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>{{date1}}</ion-card-subtitle>
            <ion-card-title>Home</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Control your home from your phone</p>
        </ion-card-content>
    </ion-card>
    <div padding id="buttonBox">
        <ion-button [color]="primary" (click)="allOff('L')">Turn Lights Off
        </ion-button>
        <br>
        <ion-button [color]="primary" (click)="allOff('H')">Turn Heaters Off</ion-button>
        <br>
        <ion-button [color]="primary" (click)="allOff('F')">Turn Fans Off</ion-button>
        <br>
        <ion-button [color]="primary" (click)="allOff('R')">Turn Everything Off</ion-button>
        <br>
        <ion-button [color]="primary" (click)="allOn()">Turn Everything On</ion-button>
        <br>
        <ion-button [color]="primary" (click)="setMode('H')">Holiday Mode</ion-button>
        <br>
        <ion-button [color]="primary" (click)="searchWebSpeech()">Speech Recognition</ion-button>
    </div>


</ion-content>
